TP2/bin
TP2/build
TP3/1/bin
TP3/1/build
TP3/2/bin
TP3/2/build
TP3/3/bin
TP3/3/build
TP3/4/bin
TP3/4/build
TP5/Chaine/bin
TP5/Chaine/build
TP5/Vecteur/build
TP5/Vecteur/build
TP6/debut/bin
TP6/debut/build
TP6/pile/bin
TP6/pile/build
TP7/max/bin
TP7/max/build
TP7/pile/bin
TP7/pile/build
TP7/list/bin
TP7/list/build
TP7/listTemplate/bin
TP7/listTemplate/build
filRouge/bin
filRouge/build
